{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    [
    "@babel/plugin-transform-typescript", {
      "allowDeclareFields": true
    }
  ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "source-map-support",
  [
    "module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./src"
      }
    }
  ]
  ],
  "sourceMaps": "inline"
}
